body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0d0d0d;
  color: #ffffff;
}

h1, h2, h3 {
  letter-spacing: 1px;
}

section {
  padding: 80px 20px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.btn {
  background: #ff7b00;
  color: black;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #ff9f42;
}
