.hero {
  height: 100vh;
  background: url("/drone-hero.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
}

.hero-content h1 {
  font-size: 3.2rem;
  margin-bottom: 10px;
}

.hero-content p {
  max-width: 450px;
  font-size: 1.2rem;
  opacity: 0.9;
}
